<%= form_for(@vehicle, multipart: true, data: {'abide' => true})  do |f| %>
<% @vehicle.errors.full_messages.each do |message| %>
  <div class="alert alert-warning">
    <%= message %>
  </div>
<% end %>
<p>
  <%= f.label :year %><br>
  <%= f.text_field :year, autofocus: true %>
</p>
<p>
  <%= f.label :make %><br>
  <%= f.text_field :make %>
</p>
<p>
  <%= f.label :model %><br>
  <%= f.text_field :model %>
</p>
<p>
  <%= f.label :price %><br>
  <%= f.text_field :price %>
</p>
<p>
  <%= f.label :new %><br>
  <%= f.check_box :new %>
</p>
<p>
  <%= f.label :mileage %><br>
  <%= f.text_field :mileage %>
</p>
<p>
  <%= f.label :transmission %><br>
  <%= f.text_field :transmission %>
</p>
<p>
  <%= f.label :engine %><br>
  <%= f.text_field :engine %>
</p>
<p>
  <%= f.label :drivetrain %><br>
  <%= f.text_field :drivetrain %>
</p>
<p>
  <%= f.label :vin %><br>
  <%= f.text_field :vin %>
</p>
<p>
  <%= f.label :fuel_type %><br>
  <%= f.text_field :fuel_type %>
</p>
<p>
  <%= f.label :body_style %><br>
  <%= f.text_field :body_style %>
</p>
<p>
  <%= f.label :ext_color, "Exterior Color" %><br>
  <%= f.text_field :ext_color %>
</p>
<p>
  <%= f.label :int_color, "Interior Color" %><br>
  <%= f.text_field :int_color %>
</p>
<p>
  <%= f.label :mpg %><br>
  <%= f.text_field :mpg %>
</p>
<div class="field">
  <%= f.label :images, "Add Images" %>
  <%= f.file_field :images, multiple: true %>
</div>
<div class="row">
  <% @vehicle.images.each do |image| %>
    <div class="col-md-4 col-xs-6">
      <%= image_tag image, :class => "img-fluid img-thumbnail" %>
      <%= button_to "&times;".html_safe, delete_image_attachment_vehicle_url(image.signed_id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "img-delete close" %>
      
    </div>
  <% end %>
</div>
<p>
  <%= f.submit %> |
  <%= link_to "Cancel", vehicles_path %>
</p>
<% end %>
