<h1>Inventory</h1>

<%= link_to "Add A Vehicle", new_vehicle_path %><br>
<div class="container-fluid">
  <div class="row text-center text-lg-left">
    <% @vehicles.each do |vehicle| %>
        <div class="col-lg-4 col-md-6 col-12 text-center">
          <%= link_to(vehicle) do %>
          <% if vehicle.image.attached? %>
            <%= image_tag vehicle.image, :class => "img-fluid img-thumbnail" %>
          <% else %>
            <%= image_tag 'coming_soon.jpeg', :class => "img-fluid img-thumbnail" %><br>
          <% end %>
          <span class="text-muted">
            <%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %>
          </span>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
