<article>
  <header>
    <h1><%= @vehicle.year %> <%= @vehicle.make %> <%= @vehicle.model %></h1>
  </header>
  <% if @vehicle.images.attached? %>
    <%= render 'carousel' %>
  <% else %>
    <%= image_tag 'coming_soon.jpeg', :class => "img-fluid img-thumbnail" %><br>
  <% end %>
  <br>
  <h4>Price:</h4>
  <p><%= number_to_currency(@vehicle.price) %></p>
  <h4>New or Pre-Owned:</h4>
  <p><%= @vehicle.new? %></p>
  <h4>Mileage:</h4>
  <p><%= @vehicle.mileage %> miles</p>
  <h4>Transmission:</h4>
  <p><%= @vehicle.transmission %></p>
  <h4>Engine:</h4>
  <p><%= @vehicle.engine %></p>
  <h4>Drivetrain:</h4>
  <p><%= @vehicle.drivetrain %></p>
  <h4>VIN:</h4>
  <p><%= @vehicle.vin %></p>
  <h4>Fuel Type:</h4>
  <p><%= @vehicle.fuel_type %></p>
  <h4>Body Style:</h4>
  <p><%= @vehicle.body_style %></p>
  <h4>Exterior Color:</h4>
  <p><%= @vehicle.ext_color %></p>
  <h4>Interior Color:</h4>
  <p><%= @vehicle.int_color %></p>
  <h4>MPG:</h4>
  <p><%= @vehicle.mpg %></p>
  <% if current_user %>
    <% if @vehicle.is_sold == false %>
      <%= button_to "Mark As Sold", vehicle_sell_path(@vehicle) %>
    <% end %>
  <% end %>
  <% if current_user_admin? %>
    <% if @vehicle.is_sold %>
      <%= button_to "Mark As Unsold", vehicle_unsell_path(@vehicle) %>
    <% end %>
    <%= link_to "Edit", edit_vehicle_path %> |
    <%= link_to "Delete", vehicle_path(@vehicle),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
  <% end %>
</article>
